@import "./styles/fonts.css";

body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  background-color: #F6F8FA;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Inter';
}
